@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  background-color: #3d3b40;
}
.container {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 30px;
  width: 400px;
  border-radius: 10px;
}
.container p {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 8px;
 word-spacing: 4px;
  text-align: center;
  color: #1741da;
}
.container input {
  padding: 10px;
  width: 100%;
  outline: none;
  font-size: 20px;
}
#reload{
    width: 100%;
  border: none;
  outline: none;
  background-color: orangered;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10 10 rgba(0, 0, 0, 0.1);
  margin: 8px 0 20px;
}
.container button {
  width: 100%;
  border: none;
  outline: none;
  background-color: #001b79;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10 10 rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.container .boximg {
  max-height: 0;
  overflow: hidden;
  width: 200px;
  border-radius: 5px;
  transition: max-height 1s;
}
.container .boximg img {
  width: 100%;
  padding: 10px;
}
#boximg.show-img {
  max-height: 350px;
  margin: 20px auto;
  border: 1px solid #222;
}
.error {
  animation: shake .5s;
}
@keyframes shake {
  0% {
    transform: translateX(-2px);
    border: 1px solid red;
  }
  20% {
    transform: translateX(0);
    border: 1px solid orange;
  }
  40% {
    transform: translateX(2px);
    border: 1px solid blue;
  }
  60% {
    transform: translateX(0);
    border: 1px solid red;
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
